.movieCard {
  width: 100%;
  margin: 20px;
}

.movieImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.movieContent {
  padding: 20px;
}

.infoLabel {
  font-weight: bold;
  font-style: italic;
}

.videoContainer {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 aspect ratio (пропорции видео) */
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
