.carousel {
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 100;
  border-radius: 20px;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}  

.carousel img {
  animation: slide 15s linear infinite;
  width: 200px;
  height: auto;
  margin: 10px;
}
