.carouselRoot {
  width: 100%;
  overflow: hidden;
}

.carouselControls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.carouselButton {
  padding: 10px 20px;
  cursor: pointer;
}

.carouselContainer {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.carouselGrid {
  display: inline-flex;
}

.carouselItem {
  flex: 0 0 auto;
}

.carouselSlide {
  width: 250px;
  margin-right: 10px;
}

.carouselImage {
  width: 100%;
  height: auto;
}
